body {
	font-family: 'Roboto', sans-serif;
}

table {
    border-collapse: collapse;
    width: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

input {
	border-radius: 0px;
	font-size: 18px;
	padding: 6px;
	min-width: 400px;
}

button {
	text-align: left;
    padding: 8px;
	background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 18px;
}